input{
    width:100%;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border:2px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
button{
    width: 50%;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:white;
    background-color: transparent;
    padding: 8px 0 8px 0;
    margin-top: 5px;
    border: 3px solid white;
    border-radius: 8px;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: midnightblue;

}