#container{
    width: 400px;
    background-color:  rgb(5, 23, 71);
    padding: 50px 20px 50px 20px;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family:cursive;
}
